body {
	background: url("/static/books-484766_1920.jpg");
	background-attachment: fixed;
}

.flash-msg {
	margin-top: 51px;
	margin-right: 900px;
}

.homepage-div {
	margin-top: 275px;
	text-align: center;
}

#search-box{
	height: 40px;
	width: 250px;
	font-size: 23px;
}

#search-button{
	height: 40px;
	font-size: 17px;
}

.navbar-fixed-top {
	margin-bottom: 0;
	padding-bottom: 0;
}

.navbar-fixed-left {
  margin-top: 0;
  margin-right: 0;
  padding: 0; 
  width: 15%;
  position: fixed;
  border-radius: 0;
  height: 100%;
  overflow-y: auto;
}

#form-div {
	color: white;
	padding-bottom: 100px;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;

}

.filter-cat {
	font-size: 16px;
}

#search-phrase {
	width: 90%;
	height: 40%
}

#price {
	width: 90%;
	height: 40%
}

.currencyinput {
    border: 1px inset #ccc;
}

.currencyinput input {
    border: 0;
}

#show-lang {
	padding: 2px; 
	color: white;
	margin-top: 0;
}

#show-uni {
	padding: 2px; 
	color: white;
	margin-top: 0;
}


#filters {
	color: black;
}

#result-number {
	text-align: center;
	/*margin-left: 200px;*/
}

#search-results {
	margin-left: 150px;
	margin-top: 60px;
	margin-right: 125px;
	margin-bottom: 50px;
}

.course-pic {
	height: 75px;
	/*width: 100px;*/
}

.welcome-note {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
}
.class-heading {
	margin-left: 50px;
	height: 50px;
	width: 175px;
	border-radius: 0;
}

.profile {
	margin-left: 200px;
	margin-right: 800px;
}

.img-fluid {
	height: 75px;
	width: 75px;
}

.media-object {
	height: 75px;
	width: 100px;
}

.media {
	border-style: solid;
	border-width: 1px;
}

.profile-div {
	margin-top: 60px;
}

.side-nav-input-text {
	color: black;
}

#sorry-none {
	margin-top: 60px;
	text-align: center;
}

#course-url {
	color: inherit;
	text-decoration: none;
}

#course-url:hover 
{
     color: inherit; 
     text-decoration: none; 
}

#course-url:visited 
{
     color: inherit; 
     text-decoration: none; 
}

#course-url:active 
{
     color: inherit; 
     text-decoration: none; 
}

#login-div {
	margin-left: 400px;
	margin-top: 100px;
	margin-right: 600px;
	border-style: solid;
	padding: 30px;
	border-width: 1px;
}

.form-signin {
	margin-top: 150px;
	margin-right: 850px;
	margin-left: 80px;
}

.form-signin-heading {
	margin-bottom: 15px;
}

.login-input {
	margin-bottom: 15px;
	height: 50px;
}

#password {
	margin-right: 28px;
	height: 40px;
	padding: 10px; 
}

#email {
	margin-right: 28px;
	height: 40px;
	padding: 10px; 
}

#login-submit {
	margin-top: 30px;
}
/*
#register-div {
	text-align: center;
	margin-top: 200px;
}*/

.well {
	margin-left: 100px;
	opacity: 0.9;
}

.filtered {
	margin-left: 250px;
	margin-right: 100px;
}

.no-prof-courses-note {
	text-align: center;
}

#unfav-msg {
	margin-left: 50px;
}

#untaken-msg {
	margin-left: 50px;
}

#unenroll-msg {
	margin-left: 50px;
}