{% extends 'base.html' %}
{% block title %}{{ user.fname }}'s Profile Page{% endblock %}
{% block content %}
	<div class="profile-div">
		<h3 class="welcome-note">Hi {{ user.fname }}! Welcome to Emily's Online Courses!
			<a href="/">Start searching for classes</a>
		</h3>
	{% if fav_courses %}		
		<h3 class="class-heading">Classes you'd like to take:</h3><br>
		{% for course in fav_courses %}
		<div id="{{ course.course_id }}" class="course-div">
			<div id ="course-{{ course.course_id }}" class="media well profile">
				<div class="media-left media-middle">
					<a href="{{ course.url }}">
      					<img class="media-object" src="{{ course.picture }}" alt="course pic">
    				</a>
  				</div>
  				<div id="add-here-{{ course.course_id }}" class="media-body">
    				<h4 class="media-heading">{{ course.title }}</h4>
					<button type="button" class="btn btn-success btn-xs taken-button" data-course-id="{{ course.course_id }}">Completed</button>
					<button type="button" class="btn btn-danger btn-xs unfavorite-button" data-course-id="{{ course.course_id }}">Unfavorite</button>
				</div>
			</div>
		</div>
		{% endfor %}		
	{% endif %}

	{% if taken_courses %}
		<div id="taken">
			<h3 class="class-heading">Classes you have taken:</h3><br>
			{% for course in taken_courses %}
			<div id="{{ course.course_id }}">
				<div id ="coursediv-{{ course.course_id }}" class="media well profile">
					<div class="media-left media-middle">
						<a href="{{ course.url }}">
	      					<img class="media-object" src="{{ course.picture }}" alt="course pic">
	    				</a>
	  				</div>
	  				<div class="media-body">
	    				<h4 class="media-heading">{{ course.title }}</h4>
						<button type="button" class="btn btn-danger btn-xs remove-course" data-course-id="{{ course.course_id }}">Remove</button>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>		
	{% endif %}
	</div>
	<script src="/static/unfavorite.js"></script>
{% endblock %}